/* -------------------- hello banner ------------------------- */
.hello-banner {
    height: 100vh;
    background-image: url("../img/img4.jpg");
    background-position: center;
    position: relative;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hello-bg-opacity {
    position: absolute;
    background-color: #262421;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    z-index: 9 !important;
}

.hello-text {
    position: absolute;
    opacity: 1;
    background-color: transparent;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99 !important;

    padding-top: 50px;
    padding-bottom: 50px;

    color: white;
}

.hello-banner-left {
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: top;
    width: 58%;
}

.hello-banner-left h1 {
    font-size: 60px;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.hello-banner-right {
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: top;
    width: 38%;
    padding-top: 60px;
}

.hello-banner-right p {
    font-size: 20px;
    line-height: 1.2;
}

.hello-banner-right a {
    font-weight: 600;
    background-color: #1F55B3;
    border-radius: 25px;
    padding: 15px 30px !important;
    text-align: center;
    font-weight: 600 !important;
    color: white !important;
    text-decoration: none;
    display: block;
    width: 180px;
    margin-top: 20px;
}

.hello-banner-right a:hover {
    background-color: #262421;
    transition: 0.2s;
    border-bottom: 2px solid #1F55B3;
}

/* -------------------- services links ------------------------- */
.services-links {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 70px;
}

.services-links-top {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.services-top-left {
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #262421;
    width: 45%;
    margin-right: 3%;
}

.services-top-left h1 {
    font-size: 45px;
    margin-right: 10px;
    margin-left: 15px;
}

.services-top-right {
    display: inline-block;
    vertical-align: middle;
    width: 48%;
}

.services-top-right p {
    color: #4D4B66;
    line-height: 1.6;
}

.services-links-bottom {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 60px;
}

.services-links-bottom a {
    color: black;
    text-decoration: none;
}

.services-links-cell {
    width: 23.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 650px;
}

.service-cell-img {
    background-color: #E5E7E9;
    height: 450px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 20px;
}

.services-links-cell h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.services-links-cell p {
    color: #4D4B66;
    margin-bottom: 30px;
}

#bottom-link-cell {
    color: #1F55B3;
    font-weight: 500;
    position: absolute;
    bottom: 0;
}

#bottom-link-cell i {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    font-size: 22px;
}

/* -------------------- abount banner ------------------------- */
.about-banner {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F9F7F3;
}

.about-banner-left {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    border: 1px solid transparent;
}

.about-banner-img-1 {
    background-color: lightgrey;
    border-radius: 5px;
    height: 50vh;
    width: 300px;
    margin-right: 10px !important;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-banner-img-2 {
    background-color: lightgrey;
    border-radius: 5px;
    height: 60vh;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-top: 60px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-banner-right {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    border: 1px solid transparent;
    text-align: left;
    margin-top: -10px;
}

.about-banner-right h3 {
    color: #1F55B3;
    margin-bottom: 15px;
    font-size: 18px;
}

.about-banner-right h1 {
    margin-bottom: 15px;
    font-size: 40px;
}

.about-banner-right p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 45px;
    line-height: 1.5;
}

.about-banner-right a {
    font-weight: 600;
    background-color: #1F55B3;
    border-radius: 25px;
    padding: 15px 30px !important;
    font-weight: 600 !important;
    color: white !important;
    text-decoration: none;
}

.about-banner-right a:hover {
    background-color: #262421;
    transition: 0.2s;
    border-bottom: 2px solid #1F55B3;
}

/* -------------------- services full ------------------------- */
.services-banner {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.services-banner h2 {
    margin-bottom: 10px;
}

.services-banner p {
    color: #4D4B66;
    margin-bottom: 10px;
}

.service-full-cell {
    width: 28%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 100px;
    padding-top: 60px;
    background-color: #F9F7F3;
    text-align: left;
    height: 270px;
}

.serice-full-cell-icon {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1F55B3;
    color: white;
    height: 80px;
    width: 80px;
    margin-top: -50px;
    z-index: 1;
    text-align: center;
}

.serice-full-cell-icon i {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    font-size: 40px;
    font-weight: 300;
    margin-top: 20px;
}

.service-full-cell h3 {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

.service-full-cell p {
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.5;
}

.service-full-cell a {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    color: #1F55B3;
    text-decoration: none;
    font-weight: 500;
    
    position: absolute;
    bottom:0;
}

/* -------------------- portfolio   ------------------------- */
.photo-gallery-banner {
    margin: 0 auto;
    background-color: #262421;
    padding-top: 200px;
    padding-bottom: 50px;
    margin-top: -200px;
    border: 1px solid transparent;

}

.photo-gallery-banner h3 {
    color: #1F55B3;
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: 10%;
}

.photo-gallery-banner h2 {
    margin-bottom: 25px;
    font-size: 35px;
    margin-left: 10%;
    color: white;
}

.gallery-row-testimonial {
    width: 80%;
    margin: 0 auto;
}

.left-testimonial {
    background-color: white;
    height: 300px;
    border-radius: 8px;
    display: inline-block;
    width: 40%;
    margin-right: 5%;
    margin-bottom: 10px;
    vertical-align: top;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.right-testimonial {
    background-color: black;
    color: white;
    padding: 0px 50px;
    display: inline-block;
    width: 45%;
    text-align: left;
    vertical-align: top;
    border-radius: 8px;
    height: 300px;
}

.right-testimonial h3 {
    margin-top: 45px;
    margin-left: 0px;
    margin-bottom: 20px !important;
}

.right-testimonial span {
    color: #F4D03F;
}

.right-testimonial span i {
    color: #F4D03F;
}

.right-testimonial p {
    margin-top: 10px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.right-testimonial a {
    color: #1F55B3;
    text-decoration: none;
}

.right-testimonial a:hover {
    text-decoration: underline;
}

.gallery-row {}

.portfolio-start-a {
    font-weight: 600;
    background-color: #1F55B3;
    border-radius: 25px;
    padding: 15px 30px !important;
    font-weight: 600 !important;
    color: white !important;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
}

.portfolio-start-a:hover {
    background-color: black;
    transition: 0.2s;
    border-bottom: 2px solid #1F55B3;
}

/* -------------------- FAQ ------------------------- */
.faq-banner {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.faq-left {
    border: 1px solid transparent;
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.faq-left h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.faq-img {
    height: 350px;
    width: 90%;
    background-color: #E5E7E9;
    border-radius: 6px;
}

.faq-right {
    display: inline-block;
    width: 53%;
    vertical-align: top;
}

.accordion {
    background-color: #F7F7F7;
    color: #262421;
    font-weight: 500;
    cursor: pointer;
    padding: 30px 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    margin-bottom: 10px;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    margin-bottom: 20px;
    display: none;
    background-color: white;
    overflow: hidden;
    padding: 10px 20px;
}

.panel p {
    line-height: 1.5;
}

.panel p a {
    text-decoration: none;
    color: #1F55B3;
}

/* -------------------- CTA ------------------------- */
.cta-banner {
    height: 55vh;
    background-image: url("../img/img12.jpg");
    background-position: center;
    position: relative;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cta-bg-opacity {
    position: absolute;
    background-color: #262421;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    z-index: 9 !important;
}

.cta-text {
    position: absolute;
    opacity: 1;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99 !important;
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-top: 12vh;
    width: 50%;
}

.cta-text h2 {
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 60px;
}

.cta-text a {
    color: white !important;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    border: 1px solid #1F55B3;
    padding: 15px 20px;
    font-size: 18px;
    background-color: #1F55B3;
}

.cta-text a:hover {
    background-color: #262421;
    border-color: #262421;
    transition: 0.2s;
}

.cta-link-2 {
    background-color: transparent !important;
    border: 1px solid white !important;
}

.cta-link-2:hover {
    background-color: white !important;
    color: #1F55B3 !important
}




/* Mobile Small  --------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 320px) {
    .hello-banner {
        height: 90vh;
    }
    
    .hello-text {
        padding-top: 160px;
        padding-bottom: 50px;
        top:0;
    }
    
    .hello-banner-left {
        display: block;
        width: 98%;
        text-align: center;
        padding-top: 0px !important;
    }
    
    .hello-banner-left h1 {
        font-size: 45px;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .hello-banner-right {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 80%;
        padding-top: 20px;
    }
    
    .hello-banner-right a {
        margin: 0 auto;
        margin-top: 40px;
    }

    .services-links {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    
    .services-links-top {
        width: 90%;
        margin-bottom: 20px;
    }
    
    .services-top-left {
        display: block;
        border-right: 0px;
        width: 100%;
        margin-right: 0%;
    }
    
    .services-top-left h1 {
        font-size: 35px;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 20px;
    }
    
    .services-top-right {
        display: block;
        width: 100%;
    }
    
    .services-top-right p {
        margin-right: 20px;
        margin-left: 15px;
        font-size: 15px;
    }
    
    .services-links-bottom {
        width: 90%;
        margin-top: 50px;
    }
    
    .services-links-cell {
        width: 99%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        display: block;
        height: 430px;
        margin-bottom: 40px;
    }
    
    .service-cell-img {
        height: 250px;
    }

    .about-banner {
        padding-top: 30px;
        padding-bottom: 60px;
      }
    
      .about-banner-left {
        display: block;
        width: 99%;
      }
    
      .about-banner-img-1 {
        height: 18vh;
        width: 140px;
        margin-top: 0px;
      }
    
      .about-banner-img-2 {
        height: 18vh;
        width: 140px;
        margin-top: 0px;
      }
    
      .about-banner-right {
        display: block;
        width: 85%;
        margin: 0 auto;
        margin-top: 10px;
      }
    
      .about-banner-right h1 {
        font-size: 30px;
      }
    
      .about-banner-right p {
        font-size: 15px;
      }

      .services-banner {
        padding-top: 30px;
        padding-bottom: 100px;
        width: 95%;
        margin: 0 auto;
    }
    
    .service-full-cell {
        width: 90%;
        display: block;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 40px;
        height: 260px;
    }
    
    .serice-full-cell-icon {
        height: 60px;
        width: 60px;
        margin-top: -30px;
    }
    
    .serice-full-cell-icon i {
        font-size: 30px;
        margin-top: 15px;
    }

    .photo-gallery-banner {
        padding-top: 120px;
        padding-bottom: 50px;
    }
    
    .gallery-row-testimonial {
        width: 80%;
        margin: 0 auto;
    }
    
    .left-testimonial {
        height: 220px;
        display: block;
        width: 100%;
        margin-right: 0%;
        background-size: contain;
    }
    
    .right-testimonial {
        padding: 20px 20px;
        display: block;
        width: 88%;
        height: auto;
    }

    .right-testimonial h3 {
        margin-top: 5px;
    }

    .faq-banner {
        width: 90%;
        padding-top: 35px;
    }
    
    .faq-left {
        display: block;
        width: 100%;
    }
    
    .faq-left h2 {
        font-size: 30px;
        text-align: center;
    }
    
    .faq-img {
        height: 150px;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .faq-right {
        display: block;
        width: 100%;
    }
    
    .accordion {
        font-size: 16px;
    }

    .panel p {
        font-size: 15px;
    }

    .cta-banner {
        height: 55vh;
    }
    
    .cta-text {
        margin-top: 5vh;
        width: 80%;
    }
    
    .cta-text h2 {
        font-size: 49px;
        margin-bottom: 40px;
    }

    .cta-text a {
        margin-right: 5px;
        margin-left: 5px;
        padding: 12px 18px;
        font-size: 15px;
    }
}

/* Mobile Medium  --------------------------------------------------------- */
@media screen and (min-width: 321px) and (max-width: 375px) {
    .hello-banner {
        height: 90vh;
    }
    
    .hello-text {
        padding-top: 160px;
        padding-bottom: 50px;
        top:0;
    }
    
    .hello-banner-left {
        display: block;
        width: 98%;
        text-align: center;
        padding-top: 0px !important;
    }
    
    .hello-banner-left h1 {
        font-size: 50px;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .hello-banner-right {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 80%;
        padding-top: 20px;
    }
    
    .hello-banner-right a {
        margin: 0 auto;
        margin-top: 40px;
    }

    .services-links {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    
    .services-links-top {
        width: 90%;
        margin-bottom: 20px;
    }
    
    .services-top-left {
        display: block;
        border-right: 0px;
        width: 100%;
        margin-right: 0%;
    }
    
    .services-top-left h1 {
        font-size: 35px;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 20px;
    }
    
    .services-top-right {
        display: block;
        width: 100%;
    }
    
    .services-top-right p {
        margin-right: 20px;
        margin-left: 15px;
        font-size: 15px;
    }
    
    .services-links-bottom {
        width: 90%;
        margin-top: 50px;
    }
    
    .services-links-cell {
        width: 99%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        display: block;
        height: 430px;
        margin-bottom: 40px;
    }
    
    .service-cell-img {
        height: 250px;
    }

    .about-banner {
        padding-top: 30px;
        padding-bottom: 60px;
      }
    
      .about-banner-left {
        display: block;
        width: 99%;
      }
    
      .about-banner-img-1 {
        height: 20vh;
        width: 160px;
        margin-top: 0px;
      }
    
      .about-banner-img-2 {
        height: 20vh;
        width: 160px;
        margin-top: 0px;
      }
    
      .about-banner-right {
        display: block;
        width: 85%;
        margin: 0 auto;
        margin-top: 10px;
      }
    
      .about-banner-right h1 {
        font-size: 30px;
      }
    
      .about-banner-right p {
        font-size: 15px;
      }

      .services-banner {
        padding-top: 30px;
        padding-bottom: 100px;
        width: 95%;
        margin: 0 auto;
    }
    
    .service-full-cell {
        width: 90%;
        display: block;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 40px;
        height: 230px;
    }
    
    .serice-full-cell-icon {
        height: 60px;
        width: 60px;
        margin-top: -30px;
    }
    
    .serice-full-cell-icon i {
        font-size: 30px;
        margin-top: 15px;
    }

    .photo-gallery-banner {
        padding-top: 120px;
        padding-bottom: 50px;
    }
    
    .gallery-row-testimonial {
        width: 80%;
        margin: 0 auto;
    }
    
    .left-testimonial {
        height: 220px;
        display: block;
        width: 100%;
        margin-right: 0%;
        background-size: contain;
    }
    
    .right-testimonial {
        padding: 20px 20px;
        display: block;
        width: 88%;
        height: auto;
    }

    .right-testimonial h3 {
        margin-top: 5px;
    }

    .faq-banner {
        width: 90%;
        padding-top: 35px;
    }
    
    .faq-left {
        display: block;
        width: 100%;
    }
    
    .faq-left h2 {
        font-size: 30px;
        text-align: center;
    }
    
    .faq-img {
        height: 150px;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .faq-right {
        display: block;
        width: 100%;
    }
    
    .accordion {
        font-size: 17px;
    }

    .panel p {
        font-size: 16px;
    }

    .cta-banner {
        height: 55vh;
    }
    
    .cta-text {
        margin-top: 5vh;
        width: 80%;
    }
    
    .cta-text h2 {
        font-size: 50px;
        margin-bottom: 40px;
    }

    .cta-text a {
        margin-right: 5px;
        margin-left: 5px;
        padding: 15px 20px;
        font-size: 16px;
    }
}

/* Mobile Large - --------------------------------------------------------- */
@media screen and (min-width: 376px) and (max-width: 425px) {
    .hello-banner {
        height: 90vh;
    }
    
    .hello-text {
        padding-top: 160px;
        padding-bottom: 50px;
        top:0;
    }
    
    .hello-banner-left {
        display: block;
        width: 98%;
        text-align: center;
        padding-top: 0px !important;
    }
    
    .hello-banner-left h1 {
        font-size: 50px;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .hello-banner-right {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 80%;
        padding-top: 20px;
    }
    
    .hello-banner-right a {
        margin: 0 auto;
        margin-top: 40px;
    }

    .services-links {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    
    .services-links-top {
        width: 90%;
        margin-bottom: 20px;
    }
    
    .services-top-left {
        display: block;
        border-right: 0px;
        width: 100%;
        margin-right: 0%;
    }
    
    .services-top-left h1 {
        font-size: 35px;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 20px;
    }
    
    .services-top-right {
        display: block;
        width: 100%;
    }
    
    .services-top-right p {
        margin-right: 20px;
        margin-left: 15px;
        font-size: 15px;
    }
    
    .services-links-bottom {
        width: 90%;
        margin-top: 50px;
    }
    
    .services-links-cell {
        width: 99%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        display: block;
        height: 430px;
        margin-bottom: 40px;
    }
    
    .service-cell-img {
        height: 250px;
    }

    .about-banner {
        padding-top: 30px;
        padding-bottom: 60px;
      }
    
      .about-banner-left {
        display: block;
        width: 99%;
      }
    
      .about-banner-img-1 {
        height: 20vh;
        width: 160px;
        margin-top: 0px;
      }
    
      .about-banner-img-2 {
        height: 20vh;
        width: 160px;
        margin-top: 0px;
      }
    
      .about-banner-right {
        display: block;
        width: 85%;
        margin: 0 auto;
        margin-top: 10px;
      }
    
      .about-banner-right h1 {
        font-size: 30px;
      }
    
      .about-banner-right p {
        font-size: 15px;
      }

      .services-banner {
        padding-top: 30px;
        padding-bottom: 100px;
        width: 95%;
        margin: 0 auto;
    }
    
    .service-full-cell {
        width: 90%;
        display: block;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 40px;
        height: 230px;
    }
    
    .serice-full-cell-icon {
        height: 60px;
        width: 60px;
        margin-top: -30px;
    }
    
    .serice-full-cell-icon i {
        font-size: 30px;
        margin-top: 15px;
    }

    .photo-gallery-banner {
        padding-top: 120px;
        padding-bottom: 50px;
    }
    
    .gallery-row-testimonial {
        width: 80%;
        margin: 0 auto;
    }
    
    .left-testimonial {
        height: 220px;
        display: block;
        width: 100%;
        margin-right: 0%;
        background-size: contain;
    }
    
    .right-testimonial {
        padding: 20px 20px;
        display: block;
        width: 88%;
        height: auto;
    }

    .right-testimonial h3 {
        margin-top: 5px;
    }

    .faq-banner {
        width: 90%;
        padding-top: 35px;
    }
    
    .faq-left {
        display: block;
        width: 100%;
    }
    
    .faq-left h2 {
        font-size: 30px;
        text-align: center;
    }
    
    .faq-img {
        height: 150px;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .faq-right {
        display: block;
        width: 100%;
    }
    
    .accordion {
        font-size: 17px;
    }

    .panel p {
        font-size: 16px;
    }

    .cta-banner {
        height: 55vh;
    }
    
    .cta-text {
        margin-top: 5vh;
        width: 80%;
    }
    
    .cta-text h2 {
        font-size: 50px;
        margin-bottom: 40px;
    }
}

/* Tablet - --------------------------------------------------------------- */
@media screen and (min-width: 426px) and (max-width: 768px) {
    .hello-banner {
        height: 95vh;
    }
    
    .hello-banner-left {
        width: 58%;
    }

    .hello-banner-left h1 {
        font-size: 40px;
    }

    .hello-banner-right {
        margin-right: 2%;
        padding-top: 30px;
    }
    
    .hello-banner-right p {
        font-size: 16px;
        line-height: 1.2;
    }

    .services-top-left h1 {
        font-size: 40px;
    }   

    .services-links-cell {
        width: 47.5%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 40px;
    }

    .services-links {
        padding-top: 70px;
        padding-bottom: 30px;
    }

    .about-banner-img-1 {
        height: 40vh;
        margin-top: 10px;
    }
    
    .about-banner-img-2 {
        height: 50vh;
        margin-top: 10px;
    }

    .about-banner-right h1 {
        font-size: 35px;
    }
    
    .about-banner-right p {
        font-size: 15px;
    }

    .services-banner p {
        width: 70%;
        margin: 0 auto;
    }
    
    .service-full-cell {
        width: 42%;
    }

    .service-full-cell p {
        margin-left: 35px;
        margin-right: 35px;
    }

    .left-testimonial {
        margin-right: 3%;
        background-size: contain;
        padding-bottom: 40px;
    }
    
    .right-testimonial {
        padding: 0px 30px;
        padding-bottom: 40px;
        width: 45%;
    }

    .cta-text {
        margin-top: 11vh;
        width: 50%;
    }

    .cta-text h2 {
        font-size: 45px;
    }
    
}

/* Laptop ------------------------------------------------------------------ */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .hello-banner-left h1 {
        font-size: 50px;
    }
    
    .hello-banner-right p {
        font-size: 19px;
        line-height: 1.2;
    }

    .services-links-cell {
        height: 720px;
    }

    .about-banner-img-1 {
        height: 50vh;
        width: 230px;
        margin-top: 60px;
    }
    
    .about-banner-img-2 {
        height: 60vh;
        width: 230px;
        margin-top: 120px;
    }

    .service-full-cell {
        height: 270px;
    }

    .left-testimonial {
        margin-right: 3%;
        background-size: contain;
    }
    
    .right-testimonial {
        padding: 0px 40px;
        width: 45%;
    }
    
    
}

/* Laptop Large -------------------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {}

/* 4K Large Desktop ------------------------------------------------------- */
@media screen and (min-width: 1441px) {}