/* -------------------- hello banner ------------------------- */
.hello-banner {
    height: 100vh;
    background-image: url("../img/img4.jpg");
    background-position: center;
    position: relative;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hello-bg-opacity {
    position: absolute;
    background-color: #262421;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    z-index: 9 !important;
}

.hello-text {
    position: absolute;
    opacity: 1;
    background-color: transparent;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99 !important;

    padding-top: 50px;
    padding-bottom: 50px;

    color: white;
}

.hello-banner-left {
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: top;
    width: 58%;
}

.hello-banner-left h1 {
    font-size: 60px;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.hello-banner-right {
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: top;
    width: 38%;
    padding-top: 60px;
}

.hello-banner-right p {
    font-size: 20px;
    line-height: 1.2;
}

.hello-banner-right a {
    font-weight: 600;
    background-color: #1F55B3;
    border-radius: 25px;
    padding: 15px 30px !important;
    text-align: center;
    font-weight: 600 !important;
    color: white !important;
    text-decoration: none;
    display: block;
    width: 180px;
    margin-top: 20px;
}

.hello-banner-right a:hover {
    background-color: #262421;
    transition: 0.2s;
    border-bottom: 2px solid #1F55B3;
}

/* -------------------- services links ------------------------- */
.services-links {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 70px;
}

.services-links-top {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.services-top-left {
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #262421;
    width: 45%;
    margin-right: 3%;
}

.services-top-left h1 {
    font-size: 45px;
    margin-right: 10px;
    margin-left: 15px;
}

.services-top-right {
    display: inline-block;
    vertical-align: middle;
    width: 48%;
}

.services-top-right p {
    color: #4D4B66;
    line-height: 1.6;
}

.services-links-bottom {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 60px;
}

.services-links-bottom a {
    color: black;
    text-decoration: none;
}

.services-links-cell {
    width: 23.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 650px;
}

.service-cell-img {
    background-color: #E5E7E9;
    height: 450px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 20px;
}

.services-links-cell h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.services-links-cell p {
    color: #4D4B66;
    margin-bottom: 30px;
}

#bottom-link-cell {
    color: #1F55B3;
    font-weight: 500;
    position: absolute;
    bottom: 0;
}

#bottom-link-cell i {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    font-size: 22px;
}

/* -------------------- abount banner ------------------------- */
.about-banner {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F9F7F3;
}

.about-banner-left {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    border: 1px solid transparent;
}

.about-banner-img-1 {
    background-color: lightgrey;
    border-radius: 5px;
    height: 50vh;
    width: 300px;
    margin-right: 10px !important;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-banner-img-2 {
    background-color: lightgrey;
    border-radius: 5px;
    height: 60vh;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-top: 60px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-banner-right {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    border: 1px solid transparent;
    text-align: left;
    margin-top: -10px;
}

.about-banner-right h3 {
    color: #1F55B3;
    margin-bottom: 15px;
    font-size: 18px;
}

.about-banner-right h1 {
    margin-bottom: 15px;
    font-size: 40px;
}

.about-banner-right p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 45px;
    line-height: 1.5;
}

.about-banner-right a {
    font-weight: 600;
    background-color: #1F55B3;
    border-radius: 25px;
    padding: 15px 30px !important;
    font-weight: 600 !important;
    color: white !important;
    text-decoration: none;
}

.about-banner-right a:hover {
    background-color: #262421;
    transition: 0.2s;
    border-bottom: 2px solid #1F55B3;
}

/* -------------------- services full ------------------------- */
.services-banner {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.services-banner h2 {
    margin-bottom: 10px;
}

.services-banner p {
    color: #4D4B66;
    margin-bottom: 10px;
}

.service-full-cell {
    width: 28%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 100px;
    padding-top: 60px;
    background-color: #F9F7F3;
    text-align: left;
}

.serice-full-cell-icon {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1F55B3;
    color: white;
    height: 80px;
    width: 80px;
    margin-top: -50px;
    z-index: 1;
    text-align: center;
}

.serice-full-cell-icon i {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    font-size: 40px;
    font-weight: 300;
    margin-top: 20px;
}

.service-full-cell h3 {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

.service-full-cell p {
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.5;
}

.service-full-cell a {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    margin-top: 50px;
    color: #1F55B3;
    text-decoration: none;
    font-weight: 500;
}

/* -------------------- portfolio   ------------------------- */
.photo-gallery-banner {
    margin: 0 auto;
    background-color: #262421;
    padding-top: 200px;
    padding-bottom: 50px;
    margin-top: -200px;
    border: 1px solid transparent;

}

.photo-gallery-banner h3 {
    color: #1F55B3;
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: 10%;
}

.photo-gallery-banner h2 {
    margin-bottom: 25px;
    font-size: 35px;
    margin-left: 10%;
    color: white;
}

.gallery-row-testimonial {
    width: 80%;
    margin: 0 auto;
}

.left-testimonial {
    background-color: white;
    height: 300px;
    border-radius: 8px;
    display: inline-block;
    width: 40%;
    margin-right: 5%;
    margin-bottom: 10px;
    vertical-align: top;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right-testimonial {
    background-color: black;
    color: white;
    padding: 0px 50px;
    display: inline-block;
    width: 45%;
    text-align: left;
    vertical-align: top;
    border-radius: 8px;
    height: 300px;
}

.right-testimonial h3 {
    margin-top: 45px;
    margin-left: 0px;
    margin-bottom: 20px !important;
}

.right-testimonial span {
    color: #F4D03F;
}

.right-testimonial span i {
    color: #F4D03F;
}

.right-testimonial p {
    margin-top: 10px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.right-testimonial a {
    color: #1F55B3;
    text-decoration: none;
}

.right-testimonial a:hover {
    text-decoration: underline;
}

.gallery-row {}

.portfolio-start-a {
    font-weight: 600;
    background-color: #1F55B3;
    border-radius: 25px;
    padding: 15px 30px !important;
    font-weight: 600 !important;
    color: white !important;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
}

.portfolio-start-a:hover {
    background-color: black;
    transition: 0.2s;
    border-bottom: 2px solid #1F55B3;
}

/* -------------------- FAQ ------------------------- */
.faq-banner {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.faq-left {
    border: 1px solid transparent;
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.faq-left h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.faq-img {
    height: 300px;
    width: 90%;
    background-color: #E5E7E9;
    border-radius: 6px;
}

.faq-right {
    display: inline-block;
    width: 53%;
    vertical-align: top;
}

.accordion {
    background-color: #E5E7E9;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 10px;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    padding-bottom: 20px;
  }

/* -------------------- CTA ------------------------- */
.cta-banner {}





/* Mobile Small  --------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 320px) {}

/* Mobile Medium  --------------------------------------------------------- */
@media screen and (min-width: 321px) and (max-width: 375px) {}

/* Mobile Large - --------------------------------------------------------- */
@media screen and (min-width: 376px) and (max-width: 425px) {}

/* Tablet - --------------------------------------------------------------- */
@media screen and (min-width: 426px) and (max-width: 768px) {}

/* Laptop ------------------------------------------------------------------ */
@media screen and (min-width: 769px) and (max-width: 1024px) {}

/* Laptop Large -------------------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {}

/* 4K Large Desktop ------------------------------------------------------- */
@media screen and (min-width: 1441px) {}