.hello-banner {
  height: 120vh;
  background-image: url("../img/img3.jpg");
  background-position: center;
  position: relative;
}

.hello-bg-opacity {
  position: absolute;
  background-color: #092E4B;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  z-index: 9 !important;
}

.hello-text {
  position: absolute;
  opacity: 1;
  background-color: transparent;
  margin-top: 230px;
  width: 70%;
  margin-left: 15%;
  z-index: 99 !important;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  text-align: center;
}

.hello-text h5 {
  font-size: 20px;
  margin-bottom: 20px;
}

.hello-text h1 {
  font-size: 60px;
  width: 65%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.hello-text a {
  font-weight: 600;
  background-color: #EB1D23;
  border-radius: 25px;
  padding: 15px 30px !important;
  font-weight: 600 !important;
  color: white !important;
  text-decoration: none;
}

.hello-text a:hover {
  background-color: #216484;
  transition: 0.2s;
  border-bottom: 2px solid #EB1D23;
}

.corner {
  position: absolute;
  background: none;
  height: 25%;
  width: 15%;
}

#top-left {
  top: 0;
  left: 0;
  border-radius: 1px 0 0 0;
  border-top: 2px solid white;
  border-left: 2px solid white;
}

#top-right {
  top: 0;
  right: 0;
  border-radius: 0 1px 0 0;
  border-top: 2px solid white;
  border-right: 2px solid white;
}

#bottom-right {
  bottom: 0;
  right: 0;
  border-radius: 0 0 1px 0;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

#bottom-left {
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 1px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
}

.hello-text h1 {
  text-align: center;
}


/* ---------- services links -------------- */
.services-links {
  background-color: #F7F7F7;
}

.services-links a {
  text-decoration: none;
  color: black;
}

.service-box {
  border-right: 1px solid lightgrey;
  display: inline-block;
  height: 350px;
  background-color: #F7F7F7;
  width: 19.8%;
  padding: 10px 1px;
  vertical-align: top;
  margin-right: -3.5px;
}

.service-box:hover {
  transition: 0.2s;
  background-color: #092E4B;
  color: white;
}

.service-box h3 {
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 300;
}

.service-box h3 i {}

.service-box h2 {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 22px;
  margin-bottom: 20px;
}

.service-box p {
  font-size: 18px;
  margin-left: 25px;
  margin-right: 25px;
  font-weight: 300;
}

/* ---------- about -------------- */
.about-banner {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-banner-left {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  border: 1px solid transparent;
}

.about-banner-img-1 {
  background-color: lightgrey;
  border-radius: 5px;
  height: 50vh;
  width: 300px;
  margin-right: 10px !important;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-banner-img-2 {
  background-color: lightgrey;
  border-radius: 5px;
  height: 60vh;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-top: 60px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-banner-right {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  border: 1px solid transparent;
  text-align: left;
}

.about-banner-right h3 {
  color: #E31C25;
  margin-bottom: 15px;
  font-size: 18px;
}

.about-banner-right h1 {
  margin-bottom: 15px;
  font-size: 35px;
}

.about-banner-right p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 45px;
}

.about-banner-right a {
  font-weight: 600;
  background-color: #EB1D23;
  border-radius: 25px;
  padding: 15px 30px !important;
  font-weight: 600 !important;
  color: white !important;
  text-decoration: none;
}

.about-banner-right a:hover {
  background-color: #216484;
  transition: 0.2s;
  border-bottom: 2px solid #EB1D23;
}

/* ---------- portfolio -------------- */
.photo-gallery-banner {
  border: 1px solid transparent;
  width: 90%;
  margin: 0 auto;
}

.photo-gallery-banner h3 {
  color: #E31C25;
  margin-bottom: 10px;
  font-size: 18px;
  margin-left: 2%;
}

.photo-gallery-banner h2 {
  margin-bottom: 15px;
  font-size: 35px;
  margin-left: 2%;
}

.gallery-row {
  margin-bottom: 10px;
  text-align: center;
}

.gallery-photo {
  background-color: lightgrey;
  height: 300px;
  border-radius: 8px;
  display: inline-block;
  width: 23%;
  margin-right: 1%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-gallery-banner a {
  font-weight: 600;
  background-color: #EB1D23;
  border-radius: 25px;
  padding: 15px 30px !important;
  font-weight: 600 !important;
  color: white !important;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
}

.photo-gallery-banner a:hover {
  background-color: #216484;
  transition: 0.2s;
  border-bottom: 2px solid #EB1D23;
}


/* Mobile Small  --------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 320px) {
  .hello-banner {
    height: 90vh;
  }

  .hello-text {
    margin-top: 120px;
    width: 95%;
    margin-left: 2.5%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hello-text h1 {
    font-size: 38px;
    width: 80%;
    margin-bottom: 60px;
  }

  .corner {
    height: 12%;
    width: 15%;
  }

  .service-box {
    display: block;
    height: auto;
    width: 99%;
    padding: 10px 1px;
    margin-right: 0px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 60px;
  }

  .service-box h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .service-box h2 {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 22px;
    margin-bottom: 20px;
  }

  .about-banner {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  
  .about-banner-left {
    display: block;
    width: 99%;
    margin-bottom: 20px;
  }
  
  .about-banner-img-1 {
    height: 20vh;
    width: 40%;
    margin-right: 10px !important;
    display: inline-block;
    margin-top: 10px;
  
  }
  
  .about-banner-img-2 {
    height: 20vh;
    width: 40%;
    display: inline-block;
    margin-top: 10px;
  }
  
  .about-banner-right {
    display: block;
    width: 85%;
    text-align: left;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  .about-banner-right h1 {
    font-size: 30px;
  }
  
  .about-banner-right p {
    font-size: 15px;
  }

  .gallery-photo {
    height: 150px;
    display: inline-block;
    width: 45%;
    margin-right: 3%;
  }
}

/* Mobile Medium  --------------------------------------------------------- */
@media screen and (min-width: 321px) and (max-width: 375px) {
  .hello-banner {
    height: 95vh;
  }

  .hello-text {
    margin-top: 120px;
    width: 95%;
    margin-left: 2.5%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hello-text h1 {
    font-size: 38px;
    width: 80%;
    margin-bottom: 60px;
  }

  .corner {
    height: 12%;
    width: 15%;
  }

  .service-box {
    display: block;
    height: auto;
    width: 99%;
    padding: 10px 1px;
    margin-right: 0px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 60px;
  }

  .service-box h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .service-box h2 {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 22px;
    margin-bottom: 20px;
  }

  .about-banner {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  
  .about-banner-left {
    display: block;
    width: 99%;
    margin-bottom: 20px;
  }
  
  .about-banner-img-1 {
    height: 20vh;
    width: 40%;
    margin-right: 10px !important;
    display: inline-block;
    margin-top: 10px;
  
  }
  
  .about-banner-img-2 {
    height: 20vh;
    width: 40%;
    display: inline-block;
    margin-top: 10px;
  }
  
  .about-banner-right {
    display: block;
    width: 85%;
    text-align: left;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  .about-banner-right h1 {
    font-size: 30px;
  }
  
  .about-banner-right p {
    font-size: 15px;
  }

  .gallery-photo {
    height: 150px;
    display: inline-block;
    width: 45%;
    margin-right: 3%;
  }
}

/* Mobile Large - --------------------------------------------------------- */
@media screen and (min-width: 376px) and (max-width: 425px) {
  .hello-banner {
    height: 95vh;
  }

  .hello-text {
    margin-top: 120px;
    width: 95%;
    margin-left: 2.5%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hello-text h1 {
    font-size: 38px;
    width: 80%;
    margin-bottom: 60px;
  }

  .corner {
    height: 12%;
    width: 15%;
  }

  .service-box {
    display: block;
    height: auto;
    width: 99%;
    padding: 10px 1px;
    margin-right: 0px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 60px;
  }

  .service-box h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .service-box h2 {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 22px;
    margin-bottom: 20px;
  }

  .about-banner {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  
  .about-banner-left {
    display: block;
    width: 99%;
    margin-bottom: 20px;
  }
  
  .about-banner-img-1 {
    height: 20vh;
    width: 40%;
    margin-right: 10px !important;
    display: inline-block;
    margin-top: 10px;
  
  }
  
  .about-banner-img-2 {
    height: 20vh;
    width: 40%;
    display: inline-block;
    margin-top: 10px;
  }
  
  .about-banner-right {
    display: block;
    width: 85%;
    text-align: left;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  .about-banner-right h1 {
    font-size: 30px;
  }
  
  .about-banner-right p {
    font-size: 15px;
  }

  .gallery-photo {
    height: 150px;
    display: inline-block;
    width: 45%;
    margin-right: 3%;
  }

}

/* Tablet - --------------------------------------------------------------- */
@media screen and (min-width: 426px) and (max-width: 768px) {
  .hello-banner {
    height: 100vh;
  }

  .hello-text {
    margin-top: 130px;
    width: 95%;
    margin-left: 2.5%;
  }

  .service-box {
    height: 200px;
    width: 19.5%;
    padding: 10px 1px;
    margin-right: -3.5px;
  }

  .service-box h3 {
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 30px;
  }

  .service-box h2 {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .service-box p {
    display: none;
  }

  .about-banner-img-1 {
    height: 40vh;
    width: 300px;
    display: block;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-top: 50px;
  }

  .about-banner-img-2 {
    height: 40vh;
    width: 300px;
    display: block;
    margin-left: 25px;
    margin-top: 0px;
  }

  .gallery-photo {
    height: 200px;
  }

}

/* Laptop ------------------------------------------------------------------ */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .service-box {
    height: 390px;
    width: 19.6%;
  }

  .service-box p {
    font-size: 16px;
  }

  .about-banner-left {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    border: 1px solid transparent;
  }

  .about-banner-img-1 {
    height: 40vh;
    width: 180px;
    margin-top: 40px;
  }

  .about-banner-img-2 {
    height: 50vh;
    width: 180px;
    margin-top: 80px;
  }
}

/* Laptop Large -------------------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {}

/* 4K Large Desktop ------------------------------------------------------- */
@media screen and (min-width: 1441px) {}